@using UxTracker.Core.Contexts.Account.Enums
@using UxTracker.Core.Contexts.Account.Validators
@using UxTracker.Web.Components.TextFields
@using UxTracker.Web.Components.Forms
@using UxTracker.Web.Components.Skeletons

@page "/account"
@layout MainLayout
@inherits Profile

<AuthorizeView Policy="ResearcherPolicy">
    <MudContainer MaxWidth="MaxWidth.ExtraSmall" Class="d-flex flex-column justify-center align-content-center mud-height-full">
        <MudPaper Class="d-flex flex-column pa-6 rounded-lg gap-12" Outlined="true">
            @if (!IsEditState)
            {
                @if (!IsBusy)
                {
                    <div class="d-flex flex-column align-center gap-10">
                        <div class="d-flex flex-column align-center gap-4">
                            <div class="relative">
                                <MudImage
                                    Src="@Link"
                                    Class="rounded-circle"
                                    Width="180"
                                    Height="180"
                                />

                                <div class="absolute" style="bottom: 0; right: 0;">
                                    <MudTooltip
                                        Delay="400"
                                        Text="Essa imagem é a mesma da sua conta no Gravatar. Caso não tenha foto, é necessário criar conta e adicionar uma foto de perfil a sua conta no Gravatar."
                                        Style="width: 200px;"
                                    >
                                        <MudIconButton
                                            Icon="@Icons.Material.Filled.HelpOutline"
                                            Size="Size.Small"
                                            Href="https://br.gravatar.com/profile"
                                            Target="_blank"
                                        />
                                    </MudTooltip>
                                </div>
                            </div>

                            <MudText
                                Align="Align.Center"
                                Typo="Typo.h5"
                                Style="font-weight: bold">
                                @Response.Data!.Name
                            </MudText>
                        </div>

                        <MudTextField
                            ShrinkLabel="true"
                            T="string"
                            Label="E-mail"
                            Variant="Variant.Filled"
                            Value="@Response.Data!.Email"
                            ReadOnly="true"
                            FullWidth="true"/>
                    </div>

                    <div class="d-flex gap-9">
                        <MudButton
                            EndIcon="@Icons.Material.Filled.Delete"
                            Variant="Variant.Filled"
                            Color="Color.Error"
                            Class="py-2 px-15"
                            OnClick="@(e => DeleteAccountAsync(DeleteRequest))">
                            Excluir
                        </MudButton>

                        <MudButton
                            EndIcon="@Icons.Material.Filled.Edit"
                            Variant="Variant.Filled"
                            Color="Color.Info"
                            Class="py-2 px-15"
                            OnClick="ChangeState">
                            Editar
                        </MudButton>
                    </div>
                }
                else
                {
                    <ProfileSkeleton/>
                }
            }
            else
            {
                @if (!IsBusy)
                {
                    <ValidateForm
                        Class="d-flex flex-column align-center gap-10"
                        SubmitFunction="UpdateAccountAsync"
                        TwoOptions="true"
                        SecondTextButton="Cancelar"
                        SecondFunction="ChangeState"
                    >
                        <div class="relative">
                            <MudImage
                                Src="@Link"
                                Class="rounded-circle"
                                Width="180"
                                Height="180"
                            />

                            <div class="absolute" style="bottom: 0; right: 0;">
                                <MudTooltip
                                    Delay="400"
                                    Text="Essa imagem é a mesma da sua conta no Gravatar. Caso não tenha foto, é necessário criar conta e adicionar uma foto de perfil a sua conta no Gravatar."
                                    Style="width: 200px;"
                                >
                                    <MudIconButton
                                        Icon="@Icons.Material.Filled.HelpOutline"
                                        Size="Size.Small"
                                        Href="https://br.gravatar.com/profile"
                                        Target="_blank"
                                    />
                                </MudTooltip>
                            </div>
                        </div>

                        <MudTextField
                            ShrinkLabel="true"
                            T="string"
                            Label="Nome"
                            InputType="InputType.Text"
                            Variant="Variant.Filled"
                            @bind-Value="Request.Name"
                            Required="true"
                            RequiredError="O nome deve ser informado"
                            Immediate="true"
                            OnlyValidateIfDirty="true"
                            Validation="@NameValidator.Validate"
                            FullWidth="true"
                        />

                        <MudTextField
                            ShrinkLabel="true"
                            T="string"
                            Label="E-mail"
                            Variant="Variant.Filled"
                            Value="Response.Data.Email"
                            ReadOnly="true"
                            FullWidth="true"
                        />

                        <PasswordTextField
                            @bind-Password="Request.Password"
                            ValidatorType="ValidatorTypes.Validator"
                        />

                        <PasswordTextField
                            Label="Confirmar senha"
                            @bind-Password="ConfirmPassword"
                            ConfirmPassword="@Request.Password"
                            ValidatorType="ValidatorTypes.Comparator"
                        />
                    </ValidateForm>
                }
                else
                {
                    <ProfileEditSkeleton/>
                }
            }
        </MudPaper>
    </MudContainer>
</AuthorizeView>