@using ApexCharts
@using UxTracker.Core.Contexts.Research.DTOs
@using UxTracker.Core.Contexts.Research.Enums
@using UxTracker.Core.Contexts.Research.Extensions
@using UxTracker.Core.Contexts.Research.ValueObjects
@using ChartType = ApexCharts.ChartType

<div class="@ContainerClass">
    @while (_index <= SurveyCollections)
    {
        <ApexChart
            TItem="ReviewsFrequency"
            Options="_options"
            Title="@(PeriodType.GetPeriod()+ " " + _index + 1)">
            <ApexPointSeries
                Stroke="@(new SeriesStroke { Width = 1, Color = "#FFF" })"
                TItem="ReviewsFrequency"
                Items="_datas"
                Name="Datas"
                XValue="@(e => e.Rate)"
                YValue="@(e => e.Count)"/>
        </ApexChart>

        _index++;
    }
</div>

@code {
    [Parameter] public string ContainerClass { get; set; } = string.Empty;
    [Parameter] public List<ReviewsDto> Rates { get; set; } = [];
    [Parameter] public PeriodType PeriodType { get; set; }
    [Parameter] public int SurveyCollections { get; set; }
    
    private ApexChartOptions<ReviewsFrequency> _options = null!;
    private List<ReviewsFrequency> _datas = [];
    private int _index = 0;
    
    protected override void OnInitialized()
    {
        _datas = Rates
            .GroupBy(x => x.Rate)
            .Select(x => new ReviewsFrequency(x.Key, x.Count()))
            .ToList();

        _options = new ApexChartOptions<ReviewsFrequency>
        {
            Chart = new Chart
            {
                Background = "#161B22",
                Width = "100%",
                FontFamily = "Inter",
                Toolbar = new Toolbar
                {
                    Show = true,
                    Export = new ExportOptions
                    {
                        Png = new ExportPng
                        {
                            Filename = "UxTracker-FrequencyBars"
                        },
                        Csv = new ExportCSV
                        {
                            Filename = "UxTracker-FrequencyBars",
                            HeaderCategory = "sep=|" + Environment.NewLine + "Boxes",
                            ColumnDelimiter = "|",
                            CategoryFormatter = "function (value) {  return value }",
                            ValueFormatter = "function (value) {  return value }",
                        },
                        Svg = new ExportSvg
                        {
                            Filename = "UxTracker-FrequencyBars"
                        }
                    }
                },
                Type = ChartType.Bar,
            },
            Tooltip = new Tooltip
            {
                Style = new TooltipStyle
                {
                    FontFamily = "Inter",
                    FontSize = "12px",
                },
                X = new TooltipX
                {
                    Show = false,
                },
                CssClass = "apexcharts-tooltip",
                //         Custom = @"
                // function({ series, seriesIndex, dataPointIndex, w }) {
                //     var dataPoint = w.config.series[seriesIndex].data[dataPointIndex];
                //     return '<div class=""apexcharts-tooltip-box apexcharts-tooltip-boxPlot"">'
                //         + '<div>Mínimo: <span>' + dataPoint.y[0] + '</span></div>'
                //         + '<div>Q1: <span>' + dataPoint.y[1] + '</span></div>'
                //         + '<div>Mediana: <span>' + dataPoint.y[2] + '</span></div>'
                //         + '<div>Q3: <span>' + dataPoint.y[3] + '</span></div>'
                //         + '<div>Máximo: <span>' + dataPoint.y[4] + '</span></div>'
                //         + '</div>';
                // }"
            },
            DataLabels = new DataLabels
            {
                OffsetY = -6d,
            },
            Grid = new Grid
            {
                BorderColor = "#313945",
            },
            Legend = new Legend
            {
                FontFamily = "Inter",
                FontSize = "14px",
                FontWeight = "500",
                Position = LegendPosition.Top,
                HorizontalAlign = ApexCharts.Align.Right,
                Floating = true,
                OffsetX = -5,
                OffsetY = -25,
            },
            Xaxis = new XAxis
            {
                Min = 1,
                Max = 10,
                Title = new AxisTitle
                {
                    Text = "Nota atribuída na avaliação",
                    Style = new AxisTitleStyle
                    {
                        FontFamily = "Inter",
                        FontSize = "14px",
                        FontWeight = "500",
                        Color = "#fff"
                    }
                },
                Labels = new XAxisLabels
                {
                    Style = new AxisLabelStyle
                    {
                        FontFamily = "Inter",
                        FontSize = "14px",
                        FontWeight = "500",
                        Colors = "#fff"
                    },
                },
                Tooltip = new XAxisTooltip
                {
                    Enabled = false,
                },
                AxisTicks = new AxisTicks
                {
                    Color = "#313945"
                },
                AxisBorder = new AxisBorder
                {
                    Color = "#313945"
                },
            },
            Yaxis =
            [
                new YAxis
                {
                    Min = 0,
                    Title = new AxisTitle
                    {
                        Text = "Frequência",
                        Style = new AxisTitleStyle
                        {
                            FontFamily = "Inter",
                            FontSize = "14px",
                            FontWeight = "500",
                            Color = "#fff"
                        }
                    },
                    Labels = new YAxisLabels
                    {
                        Style = new AxisLabelStyle
                        {
                            FontFamily = "Inter",
                            FontSize = "14px",
                            FontWeight = "500",
                            Colors = "#fff"
                        }
                    }
                }
            ],
            PlotOptions = new PlotOptions
            {
                Bar = new PlotOptionsBar
                {
                    Colors = new PlotOptionsBarColors
                    {
                        BackgroundBarColors = ["#26A69A"]
                    }
                },
            }
        };
    }
}