@using ApexCharts

@page "/project/{ProjectId:guid}"
@inherits Project

<AuthorizeView Roles="Researcher">
    <Authorized>
        <MudContainer Fixed="true" Class="pa-20">
            <div class="d-flex justify-start mb-2">
                <MudButton Href="/projects/" Variant="Variant.Filled" Color="MudBlazor.Color.Secondary" Class="py-2 px-15">
                    Voltar
                </MudButton>
            </div>
            @if(!IsBusy)
            {
                @if (!IsEditState)
                {
                    <MudPaper Class="pa-4 rounded-lg" Outlined="true">
                        <MudText Typo="Typo.h4" Align="MudBlazor.Align.Center" Class="pa-5">@Response.Data.Project.Title</MudText>
                        <MudText Typo="Typo.body1" Align="MudBlazor.Align.Center">@Response.Data.Project.Description</MudText>

                        <MudForm Class="pa-5">
                            <MudGrid Spacing="3">
                                <MudItem xs="12" sm="3">
                                    <MudDatePicker Label="Data Inicial" @bind-Date="_startDate" ReadOnly="true" Variant="Variant.Filled" />
                                </MudItem>
                                <MudItem xs="12" sm="3">
                                    <MudTextField ShrinkLabel="true" T="string" Label="Código da pesquisa" Variant="Variant.Filled" FullWidth="true" ReadOnly="true" />
                                </MudItem>
                                <MudItem xs="12" sm="6">
                                    <MudTextField @ref="textFieldRef" ShrinkLabel="true" T="string" Label="Link da Avaliação"
                                                  Value="@evaluationLink" ReadOnly="true" Variant="Variant.Filled" FullWidth="true" 
                                                  Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.ContentCopy" 
                                                  OnAdornmentClick="CopyTextToClipboard" />
                                </MudItem>
                                <MudItem xs="12" sm="3">
                                    <MudDatePicker Label="Data Final" @bind-Date="_endDate" ReadOnly="true" Variant="Variant.Filled" />
                                </MudItem>
                                <MudItem xs="12" sm="3">
                                    <MudTextField ShrinkLabel="true" T="string" Label="Status" Variant="Variant.Filled" FullWidth="true" ReadOnly="true" />
                                </MudItem>
                                <MudItem xs="12" sm="6">
                                    <MudTextField ShrinkLabel="true" T="string" Label="Termo de Aceite" ReadOnly="true" Variant="Variant.Filled"
                                                  FullWidth="true" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Download"
                                                  OnAdornmentClick="DownloadFile" />
                                </MudItem>
                            </MudGrid>
                        </MudForm>
                        <div class="d-flex justify-end">
                            <MudButton EndIcon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="MudBlazor.Color.Info" 
                                       Class="py-2 px-15" OnClick="ChangeState"> Editar
                            </MudButton>
                        </div>
                    </MudPaper>
                }
                else
                {
                    <MudPaper Class="pa-4 rounded-lg" Outlined="true">
                        <MudTextField T="string" Label="Título da pesquisa" Variant="Variant.Filled" FullWidth="true" 
                                      @bind-Value="UpdateRequest.Title" Class="pa-5" />
                        <MudTextField T="string" Label="Descrição da pesquisa" Variant="Variant.Filled" FullWidth="true" 
                                      @bind-Value="UpdateRequest.Description" Class="pa-5" />

                        <MudForm Class="pa-5">
                            <MudGrid Spacing="3">
                                <MudItem xs="12" sm="3">
                                    <MudDatePicker Label="Data Inicial" @bind-Date="_startDate" Variant="Variant.Filled" />
                                </MudItem>
                                <MudItem xs="12" sm="3">
                                    <MudTextField ShrinkLabel="true" T="string" Label="Código da pesquisa" Variant="Variant.Filled" FullWidth="true" ReadOnly="true" />
                                </MudItem>
                                <MudItem xs="12" sm="6">
                                    <MudTextField @ref="textFieldRef" ShrinkLabel="true" T="string" Label="Link da Avaliação"
                                                  Value="@evaluationLink" Variant="Variant.Filled" FullWidth="true" 
                                                  Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.ContentCopy" 
                                                  OnAdornmentClick="CopyTextToClipboard" ReadOnly="true" />
                                </MudItem>
                                <MudItem xs="12" sm="3">
                                    <MudDatePicker Label="Data Final" @bind-Date="_endDate" Variant="Variant.Filled" />
                                </MudItem>
                                <MudItem xs="12" sm="3">
                                    <MudTextField ShrinkLabel="true" T="string" Label="Status" Variant="Variant.Filled" FullWidth="true" ReadOnly="true" />
                                </MudItem>
                                <MudItem xs="12" sm="6">
                                    <MudTextField ShrinkLabel="true" T="string" Label="Termo de Aceite" ReadOnly="true" Variant="Variant.Filled"
                                                  FullWidth="true" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Download"
                                                  OnAdornmentClick="DownloadFile" />
                                </MudItem>
                            </MudGrid>
                        </MudForm>
                        <div class="d-flex justify-center">
                            <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Error" Class="py-2 px-15 mx-2" OnClick="CancelChanges">Cancelar</MudButton>
                            <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Success" Class="py-2 px-15 mx-2" OnClick="ChangeState">Salvar</MudButton>
                        </div>
                    </MudPaper>
                }

                @if (Status == "Em andamento")
                {
                    <MudText Typo="Typo.h4" Align="MudBlazor.Align.Center" Class="pa-5">Relatório</MudText>
    
                    <MudContainer MaxWidth="MaxWidth.Medium">
                        <MudPaper Class="pa-5 rounded-lg" Outlined="true">
                            <ApexChart TItem="BoxPlotSample" Title="Distribuição das avaliações por período" Options=options @ref=BoxPlot>
                                <ApexBoxPlotSeries TItem="BoxPlotSample" Items="incidents" Name="incidents" XValue="@(e => e.Name)"
                                                   Max="@(e => (decimal)e.Max)" Min="@(e => (decimal)e.Min)" Quantile1="@(e => (decimal)e.Q1)"
                                                   Quantile3="@(e => (decimal)e.Q3)" Median="@(e => (decimal)e.Median)" />
                            </ApexChart>
                        </MudPaper>
        
                        <div class="d-flex justify-end mt-3">
                            <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Success" Class="py-2 px-15" OnClick="FinishResearch">
                                Finalizar Pesquisa
                            </MudButton>
                        </div>
                    </MudContainer>
                }
                else if (Status == "Concluído")
                {
                    <MudText Typo="Typo.h4" Align="MudBlazor.Align.Center" Class="pa-5">Relatórios</MudText>
                    <MudContainer MaxWidth="MaxWidth.Medium">
                        <MudPaper Class="pa-5 rounded-lg" Outlined="true">
                            <ApexChart TItem="BoxPlotSample" Title="Distribuição das avaliações por período" Options=options @ref=BoxPlot>
                                <ApexBoxPlotSeries TItem="BoxPlotSample" Items="incidents" Name="incidents" XValue="@(e => e.Name)"
                                                   Max="@(e => (decimal)e.Max)" Min="@(e => (decimal)e.Min)" Quantile1="@(e => (decimal)e.Q1)"
                                                   Quantile3="@(e => (decimal)e.Q3)" Median="@(e => (decimal)e.Median)" />
                            </ApexChart>
                        </MudPaper>

                        <MudContainer Class="pa-5" MaxWidth="MaxWidth.Medium">
                            <MudPaper Class="pa-5 rounded-lg" Outlined="true">
                                <ApexChart TItem="Cluster" Title="Distribuição de Desconto" XAxisType="XAxisType.Numeric" Debug Options="ClustersOptions">
                                    <ApexPointSeries TItem="Cluster" Items="clusters" Name="% Bruto" SeriesType="SeriesType.Scatter"
                                                     XValue="@(e => e.DiscountPercentage)" YValue="@(e => e.GrossValue)" OrderByDescending="e=>e.X" />
                                    <ApexPointSeries TItem="Cluster" SeriesType="SeriesType.Line" Name="Tendência"
                                                     XValue="@(e => e.DiscountPercentage)" YValue="@(e => e.GrossValue)" OrderByDescending="e=>e.X" />
                                </ApexChart>
                            </MudPaper>
                        </MudContainer>
                    </MudContainer>
                }
            }
            else
            {
                <MudText>Carregando...</MudText>
            }
        </MudContainer>
    </Authorized>
    
    <NotAuthorized>
        <RedirectToUnauthorizedPage/>
    </NotAuthorized>
</AuthorizeView>