@using UxTracker.Core.Contexts.Account.Validators
@using UxTracker.Researchers.Web.Pages.Contexts.Account.Validators

@page "/register"
@layout HeadlessLayout
@inherits Register

<MudContainer
    MaxWidth="MaxWidth.Small"
    Class="d-flex flex-column justify-center align-content-center gap-9 mud-height-full"
>
    <MudText
        Typo="Typo.h4"
        Align="Align.Center">
        Cadastre-se no UxTracker
    </MudText>

    <MudContainer MaxWidth="MaxWidth.ExtraSmall" Class="d-flex flex-column gap-4">
        <MudPaper Class="pa-6 rounded-lg" Outlined="true">
            <MudForm
                @ref="Form"
                @bind-IsValid="IsValid"
                @bind-Errors="Errors"
                Class="d-flex flex-column gap-7"
            >
                <MudTextField
                    ShrinkLabel="true"
                    T="string"
                    Label="Nome completo"
                    HelperText="Mínimo de 3 caracteres"
                    InputType="InputType.Text"
                    Variant="Variant.Filled"
                    @bind-Value="Req.Name"
                    Required="true"
                    RequiredError="O nome deve ser informado"
                    Immediate="true"
                    OnlyValidateIfDirty="true"
                    Validation="@NameValidator.ValidateName"
                />

                <MudTextField
                    ShrinkLabel="true"
                    T="string"
                    Label="E-mail"
                    InputType="InputType.Email"
                    Variant="Variant.Filled"
                    @bind-Value="Req.Email"
                    Required="true"
                    RequiredError="O e-mail deve ser informado"
                    Immediate="true"
                    OnlyValidateIfDirty="true"
                    Validation="@EmailValidator.ValidateEmail"
                />

                <MudTextField
                    ShrinkLabel="true"
                    T="string"
                    Label="Senha"
                    HelperText="Dica: Uma senha forte contém letras maiúsculas e minúsculas, números e caracteres especiais"
                    InputType="@PasswordInput"
                    Variant="Variant.Filled"
                    @bind-Value="Req.Password"
                    Required="true"
                    RequiredError="A senha deve ser informada"
                    Immediate="true"
                    OnlyValidateIfDirty="true"
                    Validation="@PasswordValidator.ValidatePassword"
                    Adornment="Adornment.End"
                    AdornmentIcon="@PasswordInputIcon"
                    AdornmentAriaLabel="Mostrar senha"
                    OnAdornmentClick="ShowPassword"
                />

                <MudTextField
                    ShrinkLabel="true"
                    T="string"
                    Label="Confirmar senha"
                    InputType="@ConfirmPasswordInput"
                    Variant="Variant.Filled"
                    @bind-Value="ConfirmPassword"
                    Required="true"
                    RequiredError="A senha deve ser informada"
                    Immediate="true"
                    OnlyValidateIfDirty="true"
                    Validation="@((string confirmPassword) => PasswordValidator.ComparePasswords(Req.Password, confirmPassword))"
                    Adornment="Adornment.End"
                    AdornmentIcon="@ConfirmPasswordInputIcon"
                    AdornmentAriaLabel="Mostrar senha"
                    OnAdornmentClick="ShowConfirmPassword"
                />

                <div class="d-flex justify-center">
                    <MudButton
                        Variant="Variant.Filled"
                        Color="Color.Primary"
                        Class="py-2 px-15"
                        OnClick="CreateAsync"
                        Disabled="@(!IsValid)"
                    >
                        Cadastrar
                    </MudButton>
                </div>
            </MudForm>
        </MudPaper>

        <MudPaper Class="px-4 py-7 rounded-lg" Outlined="true">
            <MudText Align="Align.Center">
                É novo no UxTracker?
                <MudLink Href="/login">
                    <strong>
                        Faça Login
                    </strong>
                </MudLink>
            </MudText>
        </MudPaper>
    </MudContainer>
</MudContainer>